{% extends 'layout.html' %}

{% block content %}

  <div class="grid">
    {% for concept in concepts %}
      <div class="grid-item">
        <div class="image">
          <img src="" onerror="" />
          <p>{{ image['text'] }}</p>
        </div>
        <div class="info">
          <img src="" onerror="this.src='/static/img/twitter-egg-icon.png'" />
          {% if user == concept['bloc_name'] %}
            <a href="/deleteimage/{{ image['id'] }}">
              <span class="glyphicon glyphicon-remove remove-icon" aria-hidden="true">
                <dir class="sr-only">Click to remove image.</dir>
              </span>
            </a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
